{% extends 'blog.layout.html.twig' %}
{% block blog_content %}
<section>
    <header>
        <h3>Posts</h3>
    </header>
    {% for post in posts %}
    <article>
        <header>
            <h4><a href="{{ path('post_read',{id:post.id}) }}">{{ post.title }}</a></h4>
            <time datetime="{{ post.createdAt|date('Y-m-d') }}">
                <small>{{ post.createdAt|date('Y-m-d') }}</small>
            </time>
            <div class='author'>
                <small>{{ post.user.username|default('anonymous')}}</small>
            </div>    
        </header>
        <p>{{ post.body }}</p>
    </article>
    {% endfor %}
</section>
<section>
    <div>
        {% if app.security.isGranted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('post_create') }}">
            <button type="button">Create new Post</button>
        </a>
        {% endif %}
    </div>
</section>
{% endblock %}
